

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.logo-container{
margin-left: 30px;
padding: 15px;
}

.logo-text{
    font-size: 20px;
    font-family: poppins;
    position: relative;
    color: rgb(252, 63, 6);
    
}

.logo-ruler{
    width: 123px;
    height: 4px;
    border: 1px solid;
    background-color: rgb(53, 50, 50);
    position: relative;
    border-radius: 50px;
}

.font-icons{
    float: right;
    font-size: 25px;
}

.font-icons i{
    margin-left: 15px;
    color: black;
}

.font-icons a:hover{
    background-color: white;
}

 
 .navbar{
     margin: 0%;
     display: flex;
     align-items: center;
     background:rgb(252, 63, 6);
     line-height: 70px; 
     position: relative;
 }

 
 .navbar ul a{
     color: white;
    text-transform: uppercase;
     padding: 1rem;
     text-align: center;
     font-size: 15px;
     border-radius: 4px;

     
 }

 .pages{
     margin-left: 350px;
 }

 .pages li ul li{
     display: none;
 }

 /* .pages li:hover ul li{
     display: block;
 } */

  .logo{
      margin-left: -140em;
      padding: 0 10px;
     color: white;
     font-size: 25px;
     text-transform: uppercase; 
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
 }

 .navbar ul{
     display: flex;
     text-align: center;

 }
  .navbar li {
    display: inline-block;
    margin:  0 15px;
    border: 1px;
    border-radius: 10px;
    border-top: whitesmoke;

  }

 .navbar li :hover{
     background-color: rgb(50, 48, 56);
    
 }




 .slideshow-container {
    position: relative;
    margin: 0;
  }

  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

.mySlides1, .mySlides2{
    display: none;
}

  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

  .footer {
display: grid;
grid-template-columns: repeat(4,1fr);
background-color: rgb(43, 40, 40);
  }

  .footer li{
      color: white;
      margin-left: 200px ;
      font-family: 'Karla';
  }

  .footer li:first-child{
      padding: 5px;
      font-size: large;
      font-family: poppins;
  }
  


 